.FormationSector
  width 14.285%
  height 16.667%
  box-sizing border-box
  border 1px dotted #cdcdcd
  
  &.FormationSector-Striker
  &.FormationSector-Midfielder
  &.FormationSector-Defender
    background-color rgba(0,0,0,0.1)
    
  &.FormationSector-AttackingMidfielder
  &.FormationSector-DefensiveMidfielder
    background-color rgba(255,255,255,0.1) 
  
  &.FormationSector-Goalkeeper
    background-color rgba(255,255,255,0.2) 
    width 100%
    
  &.FormationSector-CannotDrop
    background-color rgba(255,0,0,0.4)
  
  &.FormationSector-CanDrop
    background-color rgba(0,255,0,0.4)
    